
.nav-item {
  display: inline-block  !important; /* Display list item inline */
  /* Add spacing between list item and link */
}


.bi-trash3 {
    color: blue; /* Default color */
    transition: color 0.3s ease; /* Smooth transition */
}

.bi-trash3:hover {
    color: red; /* Color on hover */
}

.sidebar {
    width: 200px;
    height: 100vh;
    padding: 20px;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    position: fixed;
    overflow-y: auto;
    margin-left: 0px;
}
.content {
    flex-grow: 1;
    margin-left: 200px;

    overflow-y: auto;
    width: 80%;
}