{% extends 'base.html' %}

{% block content %}
    <main>
      
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img src="../static/home_pic/benzboot.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h1 >We have Back Boots,Fenders and Doors.</h1>
              <p><a class="btn btn-lg btn-primary" style="background-color: #003161;" href="{% url 'main_shop' brand='Metalic' %}">See More</a></p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="../static/home_pic/405_06603651-b517-4a66-9deb-29de051c164f.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h1 >Front and Back Bumpers</h1>
              <p><a class="btn btn-lg btn-primary" style="background-color: #003161;" href="{% url 'main_shop' brand='Bumper' %}">Shop For Yours</a></p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="../static/home_pic/Photo-1-top-headlights.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption" style="align-items: center;">
              <h1>Headlight,Taillights and Foglights</h1>
              <p><a class="btn btn-lg btn-primary" style="background-color: #003161;" href="{% url 'main_shop' brand='Light' %}">Shop Now</a></p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Car Brands with Parts in Stock</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <div class="col">                  <a href="{% url 'main_shop' brand='Benz' %}" style="text-decoration: none;" >

            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../static/home_pic/Webp.net-resizeimage.jpg'); background-repeat: no-repeat; background-size: cover;">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Upgrade Your Benz, One Part at a Time.</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="../static/home_pic/benz_logo.jpeg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <small>Benz</small>
                  </li>
                </ul>
              </div>
           </div> </a>
          </div>

          <div class="col"><a href="{% url 'main_shop' brand='Toyota' %}" style="text-decoration: none;">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../static/home_pic/toyota.jpg'); background-repeat: no-repeat; background-size: cover;">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Toyota Parts for Smooth Drives</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="../static/home_pic/toyota_logo.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>

                  <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                    <small>Toyota</small>
                  </li>
                </ul>
              </div>
            </div></a>
          </div>

          <div class="col"><a href="{% url 'main_shop' brand='Honda' %}" style="text-decoration: none;">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../static/home_pic/honda_pic.jpg'); background-repeat: no-repeat; background-size: cover;">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Keep Your Honda Running Strong.</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="../static/home_pic/honda_logo.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>

                  <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                    <small>Honda</small>
                  </li>
                
                </ul>
              </div>
            </div>
         </a> </div>
        </div>
      </div>
          <!-- START THE FEATURETTES -->
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">From Toyota to Benz, We've Got You Covered. </h2>
              <p class="lead">Whether you're replacing a dented hood or upgrading your car's style, our premium bonnets are designed for a perfect fit and unmatched durability. Find the ideal match for your ride today!</p>
            </div>
            <div class="col-md-5">
              <img 
              src="../static/home_pic/TOYOTA-CAMRY-BONNET.jpg"
              alt="Placeholder: 500x500" 
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
              width="500" 
              height="500" 
              style="background-color: var(--bs-secondary-bg); color: var(--bs-secondary-color); display: flex; justify-content: center; align-items: center; text-align: center;">
                         </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading fw-normal lh-1">The Best Parts for the Best Cars.</h2>
              <p class="lead">Enhance your ride with precision-crafted doors built for durability and elegance. Perfect fit, flawless finish—because your car deserves the best!</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img 
              src="../static/home_pic/door.jpg"
              alt="Placeholder: 500x500" 
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
              width="500" 
              height="500" 
              style="background-color: var(--bs-secondary-bg); color: var(--bs-secondary-color); display: flex; justify-content: center; align-items: center; text-align: center;">
                        </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">Genuine Fog lights, Unmatched Performance.</h2>
              <p class="lead">Navigate through foggy roads with confidence using our high-quality fog lights. Designed for clarity and safety, they’re the perfect upgrade for any car.</p>
            </div>
            <div class="col-md-5">
              <img 
              src="../static/home_pic/foglight.jpg"
              alt="Placeholder: 500x500" 
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
              width="500" 
              height="500" 
              style="background-color: var(--bs-secondary-bg); color: var(--bs-secondary-color); display: flex; justify-content: center; align-items: center; text-align: center;">
                        </div>
          </div>
      
          <hr class="featurette-divider">
      
          <!-- /END THE FEATURETTES -->
      

      </main>
    
{% endblock %}