{% extends 'base.html' %}
{% block content %}
    <main>

        <section class="py-5 text-center container">
          <div class="row py-lg-5" style="background-image: url('asserts/img/benz_bg.jpg'); background-repeat: no-repeat; background-size: cover; height: 300px;">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1  style="color: rgb(222, 101, 2);">Benz Shop</h1>
    
            </div>
          </div>
        </section>
      
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                    <img 
                    src="asserts/img/benzboot.jpg" 
                    alt="Thumbnail" 
                    class="bd-placeholder-img card-img-top" 
                    width="100%" 
                    height="225" 
                    style="object-fit: cover; background-color: #55595c; color: #eceeef; display: flex; justify-content: center; align-items: center;">
                                    <div class="card-body">
                    <p class="card-text">Mercedes Benz C220/C250/C300 Back Boot</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                      </div>
                      <small class="">GH₵5,500.00</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </main>
{% endblock %}