{% extends 'base.html' %}
{% block head %}
      <a type="button" href="{% url 'buy' %}" style="text-decoration: none; color:white;"><span id="cart-icon">🛒<span id="cart-count">(0)</span></span></a>

{% endblock %}

{% block title %}
    <div class="sidebar d-flex flex-column flex-shrink-0">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
            <span class="fs-4">Shopping Cart</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active">Home</a>
            </li>
            <li><a href="#" class="nav-link">Dashboard</a></li>
            <li><a href="#" class="nav-link">Orders</a></li>
            <li><a href="#" class="nav-link">Products</a></li>
            <li><a href="#" class="nav-link">Customers</a></li>
        </ul>

    </div>
    {% endblock %}

{% block content %}

    <main>

        <section class="py-5 text-center container">
          <div class="row py-lg-5 bg-dark  opacity-70" style="background-image: url('../static/home_pic/{{ brand }}-shop.jpg'); background-repeat: no-repeat; background-size: cover; height: 300px;">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1  style="color: rgb(33,37,41);">{{ brand }} Shop</h1>
            </div>
          </div>
        </section>

      
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for p in part %}

                <div class="card shadow-sm" data-product-id="1" data-price="{{ p.part_price }}">
                 <div class="col" ><a href="{% url 'product' prod_name=p.part_name%}" style="text-decoration:none;">
                     <img
                    src="{{ p.part_pic }}"
                    alt="Thumbnail" 
                    class="bd-placeholder-img card-img-top" 
                    width="100%" 
                    height="225"
                    style="object-fit: cover; background-color: #55595c; color: #eceeef; display: flex; justify-content: center; align-items: center;"></a>
                                    <div class="card-body">
                                        <p class="card-text">{{ p.part_name }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-primary add-to-cart-btn">Add to cart</button>
                      </div>
                      <small class=""><span>GH₵</span>{{ p.part_price }}</small>
                    </div>
                  </div>
                </div>

              </div>
                {% endfor %}
            </div>
          </div>
        </div>
        <div id="cart">
          <h2></h2>
          <ul id="cart-items" class="col-md-4 justify-content-s cart-items"></ul>
          <p>Total: GH₵<span id="cart-total">0</span></p>
        </div>

      </main>
{% endblock %}